@font-face {
  font-family: "Lato";
  font-style: normal;
  font-weight: 300;
  src: url("./assets/fonts/lato-v20-latin-300.woff2") format("woff2"),
    url("./assets/fonts/lato-v20-latin-300.woff") format("woff");
}

@font-face {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  src: url("./assets/fonts/lato-v20-latin-regular.woff2") format("woff2"),
    url("./assetsfonts/lato-v20-latin-regular.woff") format("woff");
}

@font-face {
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  src: url("./assets/fonts/lato-v20-latin-700.woff2") format("woff2"),
    url("./assets/fonts/lato-v20-latin-700.woff") format("woff");
}
