body {
  font-family: "Rubik", sans-serif;
  text-decoration: none;
  text-align: center;
  min-width: 1200px;
}

/* Header */

.header-wrapper {
  justify-content: space-around;
  background-color: #0d0e34;
  align-items: center;
  color: white;
  padding: 20px;
  display: flex;
}

.button-menu {
  padding: 20px 20px 20px;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  font-size: small;
  display: flex;
  height: 40px;
}

.btn {
  background-color: white;
  justify-content: center;
  text-decoration: none;
  padding-bottom: 10px;
  margin: 0 20px 20px;
  align-items: center;
  border-radius: 15px;
  flex-wrap: nowrap;
  padding-top: 10px;
  padding-right: 3%;
  padding-left: 3%;
  color: #0d0e34;
  display: flex;
  width: 200px;
}

.btn-title {
  white-space: nowrap;
  margin-left: 7px;
}

.color-purple {
  background-color: #6d73db;
}

.color-yellow {
  background-color: #fdeb5d;
}

.header-right {
  padding: 0;
}

.video-frame {
  border-radius: 15px;
}

/* Homework container */

.main-title {
  margin: 40px 0 0;
  color: #0d0e34;
  padding: 0;
}

.homework-container {
  justify-content: space-around;
  margin: 0 100px 20px;
  align-items: stretch;
  flex-direction: row;
  flex-wrap: wrap;
  display: flex;
}

.homework-item {
  border: 1px solid lightgray;
  justify-content: center;
  text-decoration: none;
  border-radius: 18px;
  align-items: center;
  color: #0d0e34;
  flex: 0 0 26%;
  display: flex;
  padding: 20px;
  width: 275px;
  height: 60px;
  margin: 10px;
}

.homework-item--empty {
  flex: 0 0 25%;
  padding: 20px;
  width: 275px;
  height: 60px;
  margin: 15px;
}

.homework-item__title {
  text-decoration: none;
  white-space: nowrap;
  font-size: small;
  margin: 20px;
}

.homework-item:hover {
  box-shadow: 3px 3px 0 lightgray;
  border: 1px solid #0d0e34;
}

.homework-item:hover svg {
  color: #fdeb5d;
}

.homework-item:active {
  box-shadow: 3px 3px 0 gray;
}

/* Footer */

.footer-wrapper {
  font-size: small;
  padding: 30px;
}

.email {
  color: #0d0e34;
  display: inline;
}
