body {
    font-family: "Rubik", sans-serif;
    text-decoration: none;
    text-align: center;
    min-width: 900px;
}

.btn-title {
    margin-left: 7px;
}

header {
    padding: 20px 0 50px 0;
    background-color: #0D0E34;
    color: white;
}

.btn {
    text-decoration: none;
    border-radius: 15px;
    background-color: white;
    border: none;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 3%;
    padding-right: 3%;
    color: #0D0E34;
    margin: 0 20px;
}

.btn-flex {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-content: space-around;
    flex-direction: row;
    align-items: center;
}

.button-purple {
    background-color: #6D73DB;
}

.button-yellow {
    background-color: #FDEB5D;
}

.small {
    font-size: small;
}

h2 {
    margin: 30px;
}

h3 {
    font-size: small;
    text-align: right;
}

.button-menu {
    height: 40px;
    flex-direction: row;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    padding: 0 100px;
}

.homework-block {
    margin: 0 120px 50px 120px;
    height: 500px;
}

iframe {
    width: 100%;
    height: 90%;
    border-radius: 15px;
    border: solid 3px lightgrey;
}

main {
    padding: 10px 0 0 0;
    font-size: large;
}

footer {
    padding: 30px;
}

a {
    color: #0D0E34;
}