.c-tab-container {
  opacity: 1;
  max-width: 600px;
  box-shadow: $bs-normal;
  margin: 15vh auto 0;

  &__wrapper {
  }

  .c-tab-container__nav {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    background: $c-light-blue;
  }

  &__tab {
    margin: 0 auto;
    padding: 20px;
    text-align: center;
    font-size: em(14);
    display: flex;
    flex-direction: column;
    align-items: center;

    &:not(.active) {
      cursor: pointer;
      color: rgba($c-white, 0.4);
      transition: $t-normal;
      fill: rgba($c-light-grey, 0.7);
    }

    &:not(.active):hover {
      color: $c-white;
      fill: $c-white;
    }

    &.active {
      background: $c-light-blue;
      border-bottom: 2px solid $c-white;
      color: $c-white;
      fill: $c-white;
    }

    @media screen and (max-width: 650px) {
      flex: 1 0 auto;
    }
  }

  &__text {
  }

  &__svg {
    margin-bottom: 10px;
    @include size(20);
  }

  &__content {
    display: none;
    margin: 0 auto;
    background: $c-dark-blue;
    padding: 10px 15px;
    color: $c-white;

    &.active {
      display: block;
    }
  }
}
