mixin task-container()
  .c-task-container 
    .c-task-container__wrapper 
      .c-task-container__task
        +task-card({
          number: '1',
          description: 'Запросити у користувача його вік і визначити, ким він є: дитиною (0-2), підлітком (12-18), дорослим (18-60) або пенсіонером (60-...)'
        })
      .c-task-container__task
        +task-card({
          number: '2',
          description: 'Запросити у користувача число від 0 до 9 і вивести йому спецсимвол, який розташований на цій клавіші (1 !, 2 @, 3 # і т.д.)'
        })
      .c-task-container__task
        +task-card({
          number: '3',
          description: 'Запросити у користувача тризначне число і перевірити, чи є в ньому однакові цифри'
        })
      .c-task-container__task
        +task-card({
          number: '4',
          description: 'Запросити у користувача рік і перевірити, високосний він чи ні. Високосний рік або кратний 400, або кратний 4 і при цьому не кратний 100'
        })
      .c-task-container__task
        +task-card({
          number: '5',
          description: 'Запросити у користувача п\'ятизначне число і визначити, чи є воно паліндромом'
        })
      .c-task-container__task
        +task-card({
          number: '6',
          description: 'Написати конвертор валют. Користувач вводить кількість USD, вибирає, в яку валюту хоче перевести EUR, UAN або AZN, і отримує у відповідь відповідну суму'
        })
      .c-task-container__task
        +task-card({
          number: '7',
          description: 'Запросити у користувача суму покупки і вивести суму до оплати зі знижкою: від 200 до 300 - знижка буде 3%, від 300 до 500 - 5%, від 500 і вище - 7%'
        })
      .c-task-container__task
        +task-card({
          number: '8',
          description: 'Запросити у користувача довжину окружності і периметр квадрата. Визначити, чи може така окружність поміститися в зазначений квадрат'
        })
      .c-task-container__task
        +task-card({
          number: '9',
          description: 'Задати користувачеві 3 питання, в кожному питанні по 3 варіанти відповіді. За кожну правильну відповідь нараховується 2 бали. Після запитань виведіть користувачеві кількість набраних балів'
        })
      .c-task-container__task
        +task-card({
          number: '10',
          description: 'Запросити дату (день, місяць, рік) і вивести наступну за нею дату. Врахуйте можливість переходу на наступний місяць, рік, а також високосний рік'
        })