mixin task-container()
  .c-task-container 
    .c-task-container__wrapper 
      .c-task-container__task
        +task-card({
          number: '1',
          description: 'Створити об\'єкт, що описує автомобіль (виробник, модель, рік випуску, середня швидкість), і такі функції для роботи з цим об\'єктом: 1) Функція для виведення на екран інформації про автомобіль; 2) Функція для підрахунку необхідного часу для подолання переданої відстані з середньою швидкістю. Врахуйте, що через кожні 4 години дороги водієві необхідно робити перерву на 1 годину.'
        })
      .c-task-container__task
        +task-card({
          number: '2',
          description: 'Створити об\'єкт, який зберігає в собі окремо чисельник і знаменник дробу, і такі функції для роботи з цим об\'єктом: 1) Функція складання 2-х об\'єктів-дробів; 2) Функція віднімання 2-х об\'єктів-дробів; 3) Функція множення 2-х об\'єктів-дробів; 4) Функція розподілу 2-х об\'єктів-дробів; 5) Функція скорочення об\'єкта-дробу.'
        })
      //- .c-task-container__task
      //-   +task-card({
      //-     number: '3',
      //-     description: 'Створити об\'єкт, що описує час (години, хвилини, секунди), і такі функції для роботи з цим об\'єктом: 1) Функція виведення часу на екран; 2) Функція зміни часу на передане кількість секунд; 3) Функція зміни часу на передане кількість хвилин; 4) Функція зміни часу на передане кількість годин. 5) Врахуйте, що в останніх 3-х функціях, при зміні однієї частини часу, може змінитися і інша. Наприклад, якщо до часу «20:30:45» додати 30 секунд, то повинно вийти «20:31:15», а не «20:30:75».'
      //-   })