mixin task-container()
  .c-task-container 
    .c-task-container__wrapper 
      .c-task-container__task
        +task-card({
          number: '1',
          description: 'Підрахувати суму всіх чисел в заданому користувачем діапазоні'
        })
      .c-task-container__task
        +task-card({
          number: '2',
          description: 'Запросити 2 числа і знайти найбільший спільний дільник'
        })
      .c-task-container__task
        +task-card({
          number: '3',
          description: 'Запросити у користувача число і вивести всі дільники цього числа'
        })
      .c-task-container__task
        +task-card({
          number: '4',
          description: 'Визначити кількість цифр у введеному числі'
        })
      .c-task-container__task
        +task-card({
          number: '5',
          description: 'Запросити у користувача 10 чисел і підрахувати, скільки він ввів позитивних, негативних і нулів. При цьому також порахувати, скільки парних і непарних. Вивести статистику на екран'
        })
      //- .c-task-container__task
      //-   +task-card({
      //-     number: '6',
      //-     description: 'Зациклити калькулятор. Запросити у користувача 2 числа і знак, вирішити приклад, вивести результат і запитати, чи хоче він вирішити ще один приклад. І так до тих пір, поки користувач не відмовиться'
      //-   })
      //- .c-task-container__task
      //-   +task-card({
      //-     number: '7',
      //-     description: 'Запросити у користувача число і на скільки цифр його зрушити. Зрушити цифри числа і вивести результат (якщо число 123456 зрушити на 2 цифри, то вийде 345 612)'
      //-   })
      //- .c-task-container__task
      //-   +task-card({
      //-     number: '8',
      //-     description: 'Зациклити вивід днів тижня таким чином: «День тижня. Хочете побачити наступний день?» і так до тих пір, поки користувач натискає OK'
      //-   })
      //- .c-task-container__task
      //-   +task-card({
      //-     number: '9',
      //-     description: 'Вивести таблицю множення для всіх чисел від 2 до 9. Кожне число необхідно помножити на числа від 1 до 10'
      //-   })
      //- .c-task-container__task
      //-   +task-card({
      //-     number: '10',
      //-     description: 'Гра «Вгадай число». Запропонувати користувачеві згадати число від 0 до 100 і відгадати його наступним способом: кожну ітерацію циклу ділите діапазон чисел навпіл. Зменшуєте діапазон до моменту поки число не буде відгадане.'
      //-   })