mixin task-card(args) 
  - let number = args.number || 'default number';
  - let description = args.description || 'Default description text';

  .c-task-card
    .c-task-card__wrapper 
      h2.c-task-card__title= 'Task ' + number
      h5.c-task-card__description= description
      a.c-task-card__button(id= 'js-button' + number, href='#' title='Task ' + number)= 'GO'