.c-navigation {
  &__wrapper {
    justify-content: space-between;
    align-items: center;
    display: flex;
  }

  &__left {
    justify-content: space-between;
    align-items: center;
    display: flex;

    @include media("<970px") {
      display: none;
    }
  }

  &__right {
    justify-content: space-between;
    align-items: center;
    display: flex;

    @include media("<phone") {
      font-size: em(12);

      display: none;
    }
  }

  &__item {
    margin-right: 40px;
  }

  &__item:last-child {
    margin: 0;
  }
}
